<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vacation</title>

    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        h1 {
            color: #333;
        }

        .user-list {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
        }

        .user-item {
            flex: 0 0 calc(30% - 20px); /* Adjust the width and gap as needed for three columns */
            border: 1px solid #ddd;
            margin: 5px;
            padding: 10px;
            background-color: #f9f9f9;
        }

        strong {
            color: #555;
        }
    </style>
</head>

<body>
    <h1>User Info List</h1>
    <p>These are the users who have taken the survey so far in Provo.</p>

    <% if (data.length > 0) { %>
        <div class="user-list">
            <% data.slice(0, 10).forEach(userinfo => { %>
                <div class="user-item">
                    <strong>UserID:</strong> <%= userinfo.userid %><br>
                    <strong>Time Created:</strong> <%= userinfo.timestamp %><br>
                    <strong>Age:</strong> <%= userinfo.age %><br>
                    <strong>Gender:</strong> <%= userinfo.gender %><br>
                    <strong>Relationship Status:</strong> <%= userinfo.relationshipstatus %><br>
                    <strong>Occupation:</strong> <%= userinfo.occupationstatus %><br>
                    <strong>Location ID:</strong> <%= userinfo.locationid %><br>
                </div>
            <% }); %>
        </div>
    <% } else { %>
        <p>No data available</p>
    <% } %>

    <a href="/add" style="text-decoration: none; padding: 10px; background-color: #4CAF50; color: white; border: none; border-radius: 5px; cursor: pointer;">Take the Survey</a>

    <form method="post" action="/deletecountry" style="margin-top: 10px;">
        <label for="countryToDelete">Select Country to Delete:</label>
        <select name="countryToDelete" required>
            <% data.forEach(country => { %>
                <option value="<%= country.country_id %>"><%= country.country_name %></option>
            <% }); %>
        </select>
        <button type="submit" style="margin-left: 10px;">Delete Selected Country</button>
    </form>
</body>

</html>
